a {
  text-decoration: none;
  color: inherit;
}

li{
  list-style-type: none;
}

.office-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  white-space: pre-line;
}

.other-page-information{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  white-space: pre-line;
  font-weight: bolder;
  background-color: bisque;
}

.home-body{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  height: 50vh;
}

.box {
  border: 1px solid black;
  width: 30%;
  padding: 10px;
}

.box-title{
  font-weight: bold;
  color: rgb(255, 157, 0);
}

.detail{
  font-size: smaller;
  color: darkgray;
}

/* 表 */
table {
  border-collapse: collapse;
  margin: 10px;
  width: 80%;
}

th, td {
  border: 1px solid black;
  padding: 10px;
}

th {
  width: 20%;
}

.colum{
  font-weight: bold;
}

.warehouse_name{
  font-size: larger;
  font-weight: bolder;
}